@page "/login"
@inject NavigationManager Navigation
@inject IIdentityProvider IdentityProvider
@inject IHttpContextAccessor HttpContextAccessor
@inject AuthenticationStateProvider AuthProvider
@inject ClientService ClientService
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies

<PageTitle>Login</PageTitle>

<style>
	.bgGradient{
		background: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
		height:100%;
	}
	.btnGradient{
		background: linear-gradient(to right,rgb(5, 39, 103) 0%, #3a0647 70%);
		background-size: 200% 100%;
		background-position: left center;
		border: 0;
		font-weight: 600;
		color: white;
		padding: 10px 20px;
		cursor: pointer;
		transition: background-position 0.4s ease;
	}
	.btnGradient:hover {
  background-position: right center;
}

	div#blazor-error-ui {
		font-size: 13px;
		text-align: center;
		background: #3a0647;
		color: #fff;
	}
	.titleh2{
		font-size:21px;
	}

	.inputBox {
		height: 40px;
		padding: 0 15px;
		line-height: 0;
		background: #fcf1ff;
		border: none;
		font-size:13px;
	}
	.maxW{
		max-width:400px;
	}
	.label{
		font-size: 13px;
		color: #63007c;
		font-weight: 500;
	}
	.text13{
		font-size:13px;
	}

	.form-check-input:checked {
		background-color: #3a0647;
		border-color: #082565;
	}
</style>
<!-- Light page background + top padding -->
<div class="bgGradient py-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-5">

				<div class="card shadow-sm maxW">
					<div class="card-body p-4">
						<div class="text-center">
							<svg width="100" height="110" viewBox="0 0 570 575" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M283.375 52.1249C287.307 52.152 287.307 52.152 291.319 52.1796C353.658 53.2849 406.649 79.0073 450 123C451.732 124.735 453.465 126.47 455.25 128.258C492.077 167.067 508.457 216.8 514 269C532.48 269 550.96 269 570 269C570 280.88 570 292.76 570 305C550.86 305 531.72 305 512 305C512 310.28 512 315.56 512 321C511.08 326.454 510.068 331.651 508.75 337C508.391 338.467 508.031 339.934 507.661 341.445C497.951 379.533 480.721 413.882 454 443C452.679 444.448 452.679 444.448 451.331 445.926C409.549 491.21 353.96 516.099 292.539 519.641C233.818 521.736 175.615 499.201 132.396 459.706C117.825 446.058 104.322 432.203 94 415C93.3026 413.862 92.6052 412.723 91.8867 411.551C72.7111 380.027 56 342.658 56 305C37.52 305 19.04 305 0 305C0 293.12 0 281.24 0 269C18.48 269 36.96 269 56 269C56.66 262.4 57.32 255.8 58 249C66.7179 189.668 98.9494 134.588 146.523 97.789C187.383 68.5889 232.741 51.7035 283.375 52.1249Z" fill="#E8EEF5" />
								<path d="M283.375 52.1249C287.307 52.152 287.307 52.152 291.319 52.1796C353.658 53.2849 406.649 79.0073 450 123C451.732 124.735 453.465 126.47 455.25 128.258C492.077 167.067 508.457 216.8 514 269C532.48 269 550.96 269 570 269C570 280.88 570 292.76 570 305C550.86 305 531.72 305 512 305C512 310.28 512 315.56 512 321C511.08 326.454 510.068 331.651 508.75 337C508.391 338.467 508.031 339.934 507.661 341.445C497.951 379.533 480.721 413.882 454 443C452.679 444.448 452.679 444.448 451.331 445.926C409.549 491.21 353.96 516.099 292.539 519.641C233.818 521.736 175.615 499.201 132.396 459.706C117.825 446.058 104.322 432.203 94 415C93.3026 413.862 92.6052 412.723 91.8867 411.551C72.7111 380.027 56 342.658 56 305C37.52 305 19.04 305 0 305C0 293.12 0 281.24 0 269C18.48 269 36.96 269 56 269C56.66 262.4 57.32 255.8 58 249C66.7179 189.668 98.9494 134.588 146.523 97.789C187.383 68.5889 232.741 51.7035 283.375 52.1249ZM230 82.9999C228.75 83.3972 227.501 83.7946 226.213 84.204C171.997 101.831 128.432 138.035 101.938 188.586C93.8445 204.753 88.1319 221.393 84 239C83.5488 240.897 83.0977 242.795 82.6328 244.75C71.4559 300.249 85.6298 358.376 116.047 405.234C148.764 451.087 196.556 483.81 252.461 493.797C257.653 494.458 262.77 494.77 268 495C269.309 495.065 270.619 495.13 271.968 495.197C323.162 497.447 375.039 483.218 413.918 448.604C418.711 444.166 423.356 439.594 428 435C429.307 433.814 430.614 432.628 431.961 431.406C468.199 397.904 488.028 343.774 490.367 295.406C491.837 236.127 472.593 184.35 433.398 139.766C398.517 103.114 348.418 77.9366 297.461 76.3984C293.099 76.3595 288.737 76.3524 284.375 76.3749C282.081 76.3862 279.787 76.3975 277.423 76.4091C260.812 76.6471 245.899 77.8743 230 82.9999Z" fill="url(#paint0_linear_102_640)" />
								<path d="M409.156 148.313C420.773 159.284 434.893 173.68 440 189C435.706 193.87 431.358 198.688 427 203.5C425.799 204.864 424.597 206.228 423.359 207.633C412.631 219.389 401.928 226.621 386 229C381.01 229.162 376.016 229.215 371.023 229.196C369.617 229.193 368.211 229.19 366.762 229.187C362.299 229.176 357.837 229.151 353.375 229.125C350.337 229.115 347.299 229.106 344.262 229.098C336.841 229.076 329.421 229.041 322 229C322.684 227.043 322.684 227.043 323.383 225.047C327.932 211.217 328.914 203.401 322.742 189.844C321.469 187.388 320.18 184.94 318.875 182.5C312 169.477 312 169.477 312 165C308.7 163.68 305.4 162.36 302 161C302.944 152.504 307.933 148.6 314 143C311.896 142.216 309.793 141.433 307.625 140.625C301.626 138.132 299.534 136.5 294.875 131.5C290.34 126.294 290.34 126.294 283.75 127C276.413 129.552 273.431 132.138 270 139C265.372 140.462 260.703 141.803 256 143C257.939 144.485 259.878 145.97 261.875 147.5C266.048 150.946 267.802 152.478 269.75 157.625C269.833 158.739 269.915 159.853 270 161C268.206 162.016 266.411 163.032 264.562 164.078C256.843 169.26 253.166 175.592 249 183.75C248.257 185.006 247.515 186.261 246.75 187.555C239.656 201.286 243.029 214.377 246 229C238.07 229.1 230.139 229.172 222.208 229.22C218.205 229.25 214.202 229.3 210.199 229.352C189.435 229.456 170.563 228.818 154 215C148.531 209.354 143.341 203.605 138.203 197.656C134.436 192.914 134.436 192.914 130 191C148.955 151.285 185.849 124.469 226 109C290.839 87.5128 358.524 102.747 409.156 148.313Z" fill="#3B3F48" />
								<path d="M274 327C280.348 332.538 283.547 338.022 287.174 345.559C290.624 352.307 293.957 358.273 300 363C308.166 365.392 316.264 365.227 324.696 364.658C329.336 364.387 333.422 364.18 338 365C346.408 374.415 348.28 382.694 348.25 395C348.258 398.156 348.258 398.156 348.266 401.375C348 407 348 407 346 413C354.267 406.909 359.025 402.556 360.828 392.281C360.967 390.703 361.107 389.126 361.25 387.5C361.4 385.902 361.549 384.303 361.703 382.656C361.801 381.45 361.899 380.243 362 379C378.26 371.905 396.459 369.741 414 373C422.283 376.671 429.098 381.156 436 387C427.366 401.018 417.436 413.169 406 425C404.225 426.852 404.225 426.852 402.414 428.742C382.091 448.168 354.78 459.76 328 467C326.668 467.368 325.336 467.736 323.964 468.115C293.108 475.907 257.892 473.384 228 463C225.901 462.276 223.803 461.551 221.641 460.805C186.586 447.375 157.651 423.445 136 393C135.34 391.02 134.68 389.04 134 387C136.869 385.033 139.746 383.077 142.625 381.125C144.226 380.034 145.827 378.944 147.477 377.82C160.458 369.727 179.856 371.296 194.422 374.344C199.028 375.743 203.524 377.231 208 379C208.219 380.64 208.438 382.279 208.664 383.969C208.981 386.124 209.298 388.279 209.625 390.5C209.927 392.635 210.228 394.769 210.539 396.969C212.036 403.148 213.615 406.449 218 411C219.32 411 220.64 411 222 411C221.907 409.164 221.814 407.329 221.719 405.438C221.269 390.159 221.63 379.936 230 367C232 365 232 365 235.899 364.773C237.564 364.783 239.23 364.794 240.945 364.805C242.744 364.811 244.542 364.818 246.395 364.824C248.286 364.841 250.177 364.858 252.125 364.875C254.024 364.884 255.923 364.893 257.879 364.902C262.586 364.926 267.293 364.959 272 365C271.977 362.592 271.954 360.184 271.93 357.703C271.911 354.552 271.893 351.401 271.875 348.25C271.858 346.662 271.841 345.074 271.824 343.438C271.773 331.453 271.773 331.453 274 327Z" fill="url(#paint1_linear_102_640)" />
								<path d="M126 235C197.073 235 197.073 235 208.555 244.945C209.65 246.325 210.746 247.704 211.875 249.125C213.007 250.509 214.139 251.894 215.305 253.32C220.764 260.774 220.355 267.346 220.406 276.281C220.418 277.801 220.429 279.32 220.441 280.886C220.46 284.107 220.473 287.329 220.48 290.55C220.5 295.453 220.562 300.355 220.625 305.258C220.638 308.391 220.649 311.523 220.656 314.656C220.681 316.113 220.706 317.57 220.731 319.07C220.683 330.188 218.099 338.144 210.914 346.656C209.829 347.595 208.743 348.533 207.625 349.5C206.565 350.459 205.506 351.418 204.414 352.406C182.567 365.244 146.031 359 126 359C126 318.08 126 277.16 126 235Z" fill="url(#paint2_linear_102_640)" />
								<path d="M380.797 234.519C384.928 234.5 389.057 234.438 393.188 234.375C425.178 234.111 425.178 234.111 438.312 244.367C439.199 245.525 440.086 246.682 441 247.875C441.928 249.027 442.856 250.18 443.812 251.367C450.133 261.864 449.104 275.203 448 287C444.812 297.243 439.563 303.548 432 311C432.606 312.312 433.212 313.624 433.836 314.976C436.565 320.897 439.283 326.823 442 332.75C442.954 334.815 443.908 336.88 444.891 339.008C445.793 340.98 446.695 342.952 447.625 344.984C448.463 346.807 449.301 348.629 450.164 350.507C452 355 452 355 452 359C442.1 359 432.2 359 422 359C419.401 353.966 416.821 348.923 414.25 343.875C413.52 342.466 412.791 341.057 412.039 339.605C407.601 330.851 404.379 322.527 402 313C396.06 313 390.12 313 384 313C384.01 314.322 384.021 315.645 384.032 317.007C384.073 322.963 384.099 328.919 384.125 334.875C384.142 336.957 384.159 339.039 384.176 341.184C384.182 343.162 384.189 345.141 384.195 347.18C384.206 349.013 384.216 350.845 384.227 352.734C384 357 384 357 382 359C377.67 359.198 373.334 359.259 369 359.25C366.628 359.255 364.256 359.26 361.812 359.266C356 359 356 359 354 357C353.802 353.267 353.744 349.527 353.741 345.789C353.735 343.393 353.729 340.997 353.722 338.529C353.726 335.921 353.73 333.312 353.734 330.625C353.733 327.942 353.731 325.259 353.729 322.577C353.726 316.948 353.73 311.318 353.739 305.689C353.751 298.459 353.744 291.229 353.732 283.999C353.725 278.457 353.727 272.915 353.732 267.374C353.734 263.406 353.728 259.439 353.722 255.471C353.728 253.075 353.735 250.679 353.741 248.211C353.743 246.09 353.744 243.968 353.746 241.783C354.378 229.881 371.689 234.545 380.797 234.519Z" fill="url(#paint3_linear_102_640)" />
								<path d="M274 327C280.348 332.538 283.547 338.022 287.174 345.559C290.624 352.307 293.957 358.273 300 363C308.166 365.392 316.264 365.227 324.696 364.658C329.336 364.387 333.422 364.18 338 365C346.373 374.376 348.3 382.735 348.375 395C348.403 397.104 348.432 399.207 348.461 401.375C348 407 348 407 344 413C342.68 413.289 341.36 413.577 340 413.875C338.68 414.246 337.36 414.618 336 415C334.68 417.64 333.36 420.28 332 423C300.98 423 269.96 423 238 423C237.34 419.7 236.68 416.4 236 413C234.061 413.041 232.123 413.082 230.125 413.125C224 413 224 413 222 411C220.617 394.287 220.786 381.239 230 367C232 365 232 365 235.899 364.773C237.564 364.783 239.23 364.794 240.945 364.805C242.744 364.811 244.542 364.818 246.395 364.824C248.286 364.841 250.177 364.858 252.125 364.875C254.024 364.884 255.923 364.893 257.879 364.902C262.586 364.926 267.293 364.959 272 365C271.977 362.592 271.954 360.184 271.93 357.703C271.911 354.552 271.893 351.401 271.875 348.25C271.858 346.662 271.841 345.074 271.824 343.438C271.773 331.453 271.773 331.453 274 327Z" fill="#3D414A" />
								<path d="M240 235C243.96 235 247.92 235 252 235C252.66 240.28 253.32 245.56 254 251C257.96 251 261.92 251 266 251C266.66 262.22 267.32 273.44 268 285C278.839 273.136 289.631 261.279 300 249C300 255.973 299.125 256.728 294.664 261.727C293.536 263.007 292.408 264.287 291.246 265.605C289.454 267.595 289.454 267.595 287.625 269.625C285.304 272.241 282.983 274.858 280.664 277.477C279.54 278.744 278.415 280.011 277.256 281.316C266.553 292.564 266.553 292.564 262 307C265.3 304.36 268.6 301.72 272 299C279.414 301.937 282.403 305.669 286.695 312.297C287.906 314.143 289.116 315.989 290.363 317.891C291.605 319.824 292.846 321.758 294.125 323.75C296.605 327.558 299.087 331.366 301.57 335.172C302.661 336.864 303.752 338.556 304.875 340.3C307.932 345.026 307.932 345.026 311.402 349.364C314 353 314 353 314 357C308.508 357.625 308.508 357.625 302 357C297.68 352.75 297.68 352.75 293.875 347C292.527 345.005 291.178 343.009 289.789 340.953C286.576 335.905 283.39 330.844 280.25 325.75C276.792 318.964 276.792 318.964 272 317C267.059 324.632 267.123 332.695 266.75 341.5C266.634 343.735 266.634 343.735 266.516 346.016C266.328 349.676 266.162 353.338 266 357C257.42 357 248.84 357 240 357C240 316.74 240 276.48 240 235Z" fill="url(#paint4_linear_102_640)" />
								<path d="M409.156 148.312C420.773 159.284 434.893 173.68 440 189C437.36 189.66 434.72 190.32 432 191C430.07 188.351 430.07 188.351 428.102 185.648C400.768 148.981 364.003 121.76 317.922 113.765C270.396 107.621 224.753 113.716 185.539 142.679C183.711 144.105 181.883 145.531 180 147C178.605 148.075 177.21 149.15 175.773 150.258C166.792 157.567 159.439 166.165 152 175C149.75 177.583 147.5 180.167 145.25 182.75C142.264 186.183 140.04 188.92 138 193C135.36 192.34 132.72 191.68 130 191C148.955 151.285 185.849 124.468 226 109C290.839 87.5123 358.524 102.746 409.156 148.312Z" fill="url(#paint5_linear_102_640)" />
								<path d="M208 379C208.219 380.616 208.438 382.233 208.664 383.898C208.981 386.036 209.298 388.173 209.625 390.375C209.927 392.486 210.228 394.598 210.539 396.773C212.048 403.204 214.318 407.562 218 413C210.789 421.773 200.685 421.644 190 423C178.002 424.052 166.631 422.85 156 417C147.208 408.402 137.937 398.812 134 387C136.869 385.033 139.746 383.077 142.625 381.125C144.226 380.034 145.827 378.944 147.477 377.82C164.412 367.261 190.44 372.059 208 379Z" fill="#3D4149" />
								<path d="M421.086 376.141C426.352 379.506 431.233 382.964 436 387C417.246 416.001 417.246 416.001 409.125 418.5C406.588 418.747 406.588 418.747 404 419C401.401 420.114 401.401 420.114 398.75 421.25C382.315 425.511 365.643 420.395 350 415C352.146 410.569 354.254 406.645 357.125 402.625C361.059 394.928 361.461 387.538 362 379C380.007 371.143 402.7 367.991 421.086 376.141Z" fill="#3E424A" />
								<path d="M346 239C346 276.62 346 314.24 346 353C334.748 341.748 334.748 341.748 331.141 336.234C330.341 335.024 329.542 333.814 328.718 332.568C327.904 331.308 327.089 330.048 326.25 328.75C325.39 327.44 324.531 326.13 323.645 324.78C321.082 320.863 318.537 316.934 316 313C314.569 310.785 313.138 308.571 311.664 306.289C302.467 291.934 302.467 291.934 300 287C307.052 275.06 316.541 265.937 326.375 256.25C328.871 253.756 328.871 253.756 331.418 251.211C343.719 239 343.719 239 346 239Z" fill="#7F8488" />
								<path d="M154 261C180 261 180 261 188 265C192.568 274.135 190.55 286.721 190.625 296.75C190.683 299.336 190.741 301.922 190.801 304.586C190.818 307.069 190.834 309.551 190.852 312.109C190.881 314.388 190.91 316.667 190.94 319.015C190 325 190 325 182 333C172.76 333 163.52 333 154 333C154 309.24 154 285.48 154 261Z" fill="#EFF2F7" />
								<path d="M406 423C410.95 424.98 410.95 424.98 416 427C416 428.32 416 429.64 416 431C420.95 432.98 420.95 432.98 426 435C404.637 463.688 366.401 482.12 332 489C331.34 481.74 330.68 474.48 330 467C332.31 466.01 334.62 465.02 337 464C374.104 447.629 374.104 447.629 406 423Z" fill="#F3F5FA" />
								<path d="M528 141C533.117 144.319 535.359 146.983 537.211 152.812C538.502 159.663 538.69 163.879 535 169.875C528.325 174.047 523.886 175.138 516 175C509.354 170.232 506.602 166.699 503.875 159C504.038 151.172 506.554 148.446 512 143C517.682 140.159 521.71 140.371 528 141Z" fill="#1F252C" />
								<path d="M384 261C388.541 260.838 393.083 260.722 397.625 260.625C400.154 260.555 402.683 260.486 405.289 260.414C412 261 412 261 415.859 263.516C419.821 269.964 418.589 275.582 418 283C414 287 414 287 407.047 287.391C404.281 287.364 401.515 287.316 398.75 287.25C397.337 287.232 395.924 287.214 394.469 287.195C390.979 287.148 387.489 287.076 384 287C384 278.42 384 269.84 384 261Z" fill="#EEF2F7" />
								<path d="M44 137C47.212 137.904 50.4195 138.824 53.625 139.75C56.305 140.516 56.305 140.516 59.0391 141.297C64 143 64 143 70 147C69.34 149.64 68.68 152.28 68 155C66.6027 154.278 65.2053 153.556 63.7656 152.812C61.9455 151.884 60.1253 150.956 58.25 150C55.5352 148.608 55.5352 148.608 52.7656 147.188C48.2681 144.722 48.2681 144.722 44 145C44 146.98 44 148.96 44 151C51.3358 154.924 57.745 157.786 66 159C64.68 161.64 63.36 164.28 62 167C57.38 167 52.76 167 48 167C48 168.32 48 169.64 48 171C51.3 171 54.6 171 58 171C57.34 174.3 56.68 177.6 56 181C44.5874 180.144 37.1784 175.313 28 169C31.1403 157.067 37.5006 147.342 44 137Z" fill="#232830" />
								<path d="M469.875 469C476.962 471.314 480.944 473.498 486 479C487.457 486.609 486.624 489.92 482.75 496.625C478 501 478 501 472.25 503.375C465.49 502.969 464.059 502.27 459.125 498C454.359 492.621 454.012 491.343 453.75 483.75C456.87 474.389 459.384 469 469.875 469Z" fill="#282E34" />
								<path d="M328 543C332.351 546.195 333.809 547.966 334.797 553.312C334.781 554.859 334.766 556.406 334.75 558C334.765 559.547 334.781 561.094 334.797 562.687C333.817 567.993 332.198 569.71 328 573C323.25 574.75 323.25 574.75 318 575C308.806 570.612 308.806 570.612 306 565C304.847 550.475 304.847 550.475 309.125 545C315.805 542.259 320.852 542.22 328 543Z" fill="#292F36" />
								<path d="M76 441C86.1538 446.077 86.1539 446.077 90 453C91.0592 460.263 91.004 463.571 86.75 469.625C80.841 473.824 77.2615 475 70 475C62.3753 470.321 60.0697 467.139 56 459C62.6 453.06 69.2 447.12 76 441Z" fill="#232930" />
								<path d="M420 507C425.329 507.572 427.622 508.629 431.477 512.414C433.035 514.498 433.035 514.498 434.625 516.625C436.222 518.686 436.222 518.686 437.852 520.789C440 525 440 525 439.336 529.523C438.895 530.671 438.454 531.818 438 533C435.36 530.36 432.72 527.72 430 525C430 529.62 430 534.24 430 539C422.53 538.004 418.375 537.25 412 533C413.98 536.96 415.96 540.92 418 545C416.02 545.66 414.04 546.32 412 547C409.985 543.467 407.988 539.923 406 536.375C404.886 534.403 403.773 532.43 402.625 530.398C400 525 400 525 400 519C404.25 517.375 404.25 517.375 410 517C414.602 519.888 418.033 523.217 422 527C421.688 525.724 421.376 524.448 421.055 523.133C420.665 521.48 420.276 519.828 419.875 518.125C419.481 516.478 419.086 514.83 418.68 513.133C418.455 511.769 418.231 510.405 418 509C418.66 508.34 419.32 507.68 420 507Z" fill="#272C33" />
								<path d="M446 49C461.03 58.9629 461.03 58.9629 464.5 66.25C464 71 464 71 460.375 75.625C456 79 456 79 452 79C452 82.96 452 86.92 452 91C449.36 90.34 446.72 89.68 444 89C444 83.06 444 77.12 444 71C442.845 72.0312 441.69 73.0625 440.5 74.125C436 77 436 77 431.5 76.375C430.345 75.9212 429.19 75.4675 428 75C433.806 66.1835 439.832 57.5672 446 49Z" fill="#2A2F36" />
								<path d="M548 177C548.75 181.375 548.75 181.375 548 187C544.321 190.98 540.416 193.78 536 197C544.91 196.01 544.91 196.01 554 195C554 197.64 554 200.28 554 203C550.884 204.355 547.757 205.683 544.625 207C542.015 208.114 542.015 208.114 539.352 209.25C533.886 211.037 529.706 211.329 524 211C522.992 200.411 525.622 195.372 532 187C527.38 188.32 522.76 189.64 518 191C518 188.36 518 185.72 518 183C521.867 181.603 525.744 180.233 529.625 178.875C531.783 178.109 533.941 177.343 536.164 176.555C542 175 542 175 548 177Z" fill="#232930" />
								<path d="M98 463C100.293 464.957 102.584 466.916 104.875 468.875C106.789 470.511 106.789 470.511 108.742 472.18C113.969 476.704 113.969 476.704 114.5 481.75C114 487 114 487 111.375 490.5C108 493 108 493 102 495C100.534 499.03 100.534 499.03 100 503C98.02 503 96.04 503 94 503C93.34 497.72 92.68 492.44 92 487C88.7 488.32 85.4 489.64 82 491C81.34 489.02 80.68 487.04 80 485C83.7422 479.602 83.7422 479.602 88.875 473.625C90.5637 471.637 92.2523 469.65 93.9922 467.602C95.9761 465.324 95.9761 465.324 98 463Z" fill="#272D34" />
								<path d="M274 545C277.176 544.876 280.352 544.752 283.625 544.625C286.305 544.521 286.305 544.521 289.039 544.414C294 545 294 545 297.625 547.688C300.871 552.215 300.441 555.566 300 561C298.68 561 297.36 561 296 561C297.32 565.62 298.64 570.24 300 575C295.125 574.25 295.125 574.25 290 573C289.34 571.68 288.68 570.36 288 569C286.02 568.34 284.04 567.68 282 567C282 569.64 282 572.28 282 575C279.36 575 276.72 575 274 575C274 565.1 274 555.2 274 545Z" fill="#2C3138" />
								<path d="M66 105C75.3421 108.114 82.1741 113.169 90 119C89.34 121.64 88.68 124.28 88 127C82.72 128.32 77.44 129.64 72 131C74.64 132.98 77.28 134.96 80 137C79.34 138.98 78.68 140.96 78 143C70.5899 141.793 66.2806 138.551 60.5 133.875C58.9016 132.594 57.3031 131.312 55.6562 129.992C54.4497 129.005 53.2431 128.017 52 127C53.32 124.36 54.64 121.72 56 119C61.94 119 67.88 119 74 119C70.7 117.02 67.4 115.04 64 113C64.66 110.36 65.32 107.72 66 105Z" fill="#282E35" />
								<path d="M156 37.0001C160.304 43.456 160.402 45.5682 160 53.0001C162.64 54.3201 165.28 55.6401 168 57.0001C167.34 58.3201 166.68 59.6401 166 61.0001C160.667 59.6668 155.333 58.3335 150 57.0001C150.66 60.9601 151.32 64.9201 152 69.0001C149.36 69.0001 146.72 69.0001 144 69.0001C140.523 64.8361 140.523 64.8361 137.375 59.3751C135.778 56.6952 135.778 56.6952 134.148 53.9611C132 49.0001 132 49.0001 134 43.0001C141.345 38.4933 147.318 35.5531 156 37.0001Z" fill="#252B32" />
								<path d="M394 527C398 533 398 533 397.875 537.875C398.028 544.134 399.918 546.407 404 551C400.75 552.375 400.75 552.375 396 553C389.5 550.125 389.5 550.125 384 547C385.32 550.3 386.64 553.6 388 557C385.36 557.66 382.72 558.32 380 559C376.7 550.42 373.4 541.84 370 533C386.689 523.821 386.689 523.821 394 527Z" fill="#252A31" />
								<path d="M268 0.999998C284.992 0.804688 284.992 0.804688 290 0.999998C292 3 292 3 292.25 9.875C292 17 292 17 290 21C291.787 26.2186 291.787 26.2186 294 31C289.25 30.5 289.25 30.5 284 29C281.625 25 281.625 25 280 21C278.68 20.34 277.36 19.68 276 19C276 22.96 276 26.92 276 31C273.36 31 270.72 31 268 31C268 21.1 268 11.2 268 0.999998Z" fill="#232930" />
								<path d="M490 441C498.683 445.767 506.413 450.562 514 457C513.34 458.98 512.68 460.96 512 463C508.597 463.433 508.597 463.433 505.125 463.875C498.384 464.223 498.384 464.223 496 467C497.32 468.32 498.64 469.64 500 471C499.25 475.25 499.25 475.25 498 479C496.915 478.18 495.829 477.36 494.711 476.516C493.28 475.438 491.849 474.36 490.375 473.25C488.96 472.183 487.544 471.115 486.086 470.016C482.791 467.584 479.408 465.272 476 463C476 461.02 476 459.04 476 457C482.429 453.785 488.872 454.885 496 455C493.36 452.36 490.72 449.72 488 447C488.66 445.02 489.32 443.04 490 441Z" fill="#252B32" />
								<path d="M496 99C504.172 102.055 507.597 107.222 512.5 114.25C513.913 116.256 515.326 118.262 516.781 120.328C518.375 122.641 518.375 122.641 520 125C517.19 131.663 514.023 135.187 508.25 139.5C506.894 140.542 505.538 141.583 504.141 142.656C500 145 500 145 492 145C492 143.02 492 141.04 492 139C495.938 135.352 495.938 135.352 501 131.625C502.671 130.38 504.341 129.135 506.062 127.852C507.362 126.911 508.661 125.97 510 125C508.68 122.36 507.36 119.72 506 117C497.781 119.901 491.135 124.022 484 129C483.34 126.36 482.68 123.72 482 121C486.62 117.04 491.24 113.08 496 109C495.34 106.36 494.68 103.72 494 101C494.66 100.34 495.32 99.68 496 99Z" fill="#21272E" />
								<path d="M93.5 81.4998C94.985 81.9948 96.47 82.4898 98 82.9998C96.3913 84.526 94.7825 86.0523 93.125 87.6248C87.664 92.5884 87.664 92.5884 86 98.9998C87.7737 97.3498 89.5475 95.6998 91.375 93.9998C95.849 90.2661 97.5897 89.0651 103.5 88.1248C108 88.9998 108 88.9998 112 92.9998C112 99.1473 111.443 103.297 107.391 108.078C104.25 110.875 104.25 110.875 98 115C96.02 114.34 94.04 113.68 92 113C92.66 111.02 93.32 109.04 94 107C96.6667 105.666 99.3333 104.333 102 103C102.66 101.02 103.32 99.0398 104 96.9998C102.226 98.691 100.452 100.382 98.625 102.125C92.7786 107.017 92.7786 107.017 86.5 106.875C82 105 82 105 78 101C78.3085 93.9043 79.3393 89.9201 83.5 84.1248C88 80.9998 88 80.9998 93.5 81.4998Z" fill="#282E35" />
								<path d="M155 509.875C162 511 162 511 166.875 514.625C170 519 170 519 170 525C168.02 525 166.04 525 164 525C162 523 160 521 158 519C156.02 519 154.04 519 152 519C151.34 523.62 150.68 528.24 150 533C151.98 533 153.96 533 156 533C155.34 530.36 154.68 527.72 154 525C158.62 525.66 163.24 526.32 168 527C168 534.817 164.989 537.232 160 543C145.506 541.353 145.506 541.353 140 535C138.791 526.839 139.24 522.429 143.125 515.125C148 511 148 511 155 509.875Z" fill="#292E35" />
								<path d="M482.781 80.6404C483.843 81.419 484.906 82.1976 486 82.9998C485.048 95.0552 479.606 104.533 474 115C468 111 468 111 466.625 105.75C466.419 104.182 466.213 102.615 466 101C462.04 99.6798 458.08 98.3598 454 96.9998C454 95.0198 454 93.0398 454 90.9998C457.812 88.8779 461.651 86.8034 465.5 84.7498C468.702 83.0095 468.702 83.0095 471.969 81.2341C478 78.9998 478 78.9998 482.781 80.6404Z" fill="#333940" />
								<path d="M376 17C379.3 17.66 382.6 18.32 386 19C386 29.56 386 40.12 386 51C383.36 50.34 380.72 49.68 378 49C378 46.36 378 43.72 378 41C372.06 40.01 372.06 40.01 366 39C366 40.32 366 41.64 366 43C361.05 41.02 361.05 41.02 356 39C358.923 35.5317 361.863 32.0818 364.836 28.6562C367.304 25.8039 369.724 22.9097 372.125 20C373.404 19.01 374.683 18.02 376 17Z" fill="#33393F" />
								<path d="M192 529C204.896 530.217 204.896 530.217 209.875 533.75C212 537 212 537 212 543C210.886 542.711 209.773 542.423 208.625 542.125C203.772 540.945 198.902 539.953 194 539C193.34 542.96 192.68 546.92 192 551C194.64 552.32 197.28 553.64 200 555C199.34 551.7 198.68 548.4 198 545C203.94 545.99 203.94 545.99 210 547C208.5 558.5 208.5 558.5 204 563C197.714 562.59 192.943 561.447 187.25 558.75C184 555 184 555 183 548.375C184.141 539.959 186.826 535.63 192 529Z" fill="#2A2F36" />
								<path d="M302 0.999881C319.143 0.714171 319.143 0.71417 326 2.99988C325.34 4.97988 324.68 6.95988 324 8.99988C319.38 8.33988 314.76 7.67988 310 6.99988C310 8.97988 310 10.9599 310 12.9999C313.3 12.9999 316.6 12.9999 320 12.9999C320.66 14.9799 321.32 16.9599 322 18.9999C317.38 18.9999 312.76 18.9999 308 18.9999C308 20.9799 308 22.9599 308 24.9999C312.62 24.9999 317.24 24.9999 322 24.9999C322.66 27.6399 323.32 30.2799 324 32.9999C321.525 33.0411 319.05 33.0824 316.5 33.1249C315.108 33.1481 313.716 33.1713 312.281 33.1952C308 32.9999 308 32.9999 300 30.9999C300.66 21.0999 301.32 11.1999 302 0.999881Z" fill="#2D3239" />
								<path d="M402 27C409.898 28.1282 415.513 30.3147 422 35C422.66 36.98 423.32 38.96 424 41C420.125 46.375 420.125 46.375 416 51C404.5 49.25 404.5 49.25 400 47C399.34 49.64 398.68 52.28 398 55C396.02 55 394.04 55 392 55C393.07 44.3031 396.934 36.2841 402 27Z" fill="#242931" />
								<path d="M354 7.00017C358 10.7502 358 10.7502 360 15.0002C359.34 16.9802 358.68 18.9602 358 21.0002C352 19.0002 352 19.0002 348 13.0002C345.36 13.0002 342.72 13.0002 340 13.0002C340 18.2802 340 23.5602 340 29.0002C342.64 29.6602 345.28 30.3202 348 31.0002C348 28.3602 348 25.7202 348 23.0002C350.64 23.6602 353.28 24.3202 356 25.0002C355.34 28.9602 354.68 32.9202 354 37.0002C339.699 37.9535 339.699 37.9535 332.875 34.1252C329.06 27.3239 329.525 22.7028 330.797 15.133C332 11.0002 332 11.0002 335.25 6.75017C342.237 4.17613 346.887 5.06014 354 7.00017Z" fill="#272D34" />
								<path d="M30 183C29.34 185.64 28.68 188.28 28 191C26.68 191 25.36 191 24 191C24 194.3 24 197.6 24 201C32.2045 203.031 32.2045 203.031 40 201C40 196.38 40 191.76 40 187C42.64 187 45.28 187 48 187C50.8886 192.777 50.7538 196.593 50 203C45.875 208.875 45.875 208.875 40 213C31.1438 213.316 27.1557 211.843 20 206.625C16 201 16 201 16 194.75C18.9247 186.342 20.8347 183 30 183Z" fill="#292F36" />
								<path d="M182 19C183.32 19 184.64 19 186 19C184.25 28.5 184.25 28.5 182 33C183.155 33.6755 184.31 34.3509 185.5 35.0469C186.985 35.9389 188.47 36.8309 190 37.75C191.485 38.6317 192.97 39.5134 194.5 40.4219C195.655 41.2727 196.81 42.1235 198 43C198 44.32 198 45.64 198 47C190.105 47.3589 184.804 47.187 178 43C179.32 46.3 180.64 49.6 182 53C179.36 53.66 176.72 54.32 174 55C172.262 51.8494 170.561 48.6787 168.875 45.5C167.924 43.7366 166.972 41.9732 165.992 40.1563C163.84 34.586 163.869 32.4604 166 27C167.98 27.66 169.96 28.32 172 29C172 30.32 172 31.64 172 33C173.32 33 174.64 33 176 33C176.371 30.6488 176.371 30.6488 176.75 28.25C178 23 178 23 182 19Z" fill="#282D34" />
								<path d="M126 487C125.134 493.061 124.063 496.9 120.75 502.125C117.493 506.753 117.493 506.753 118.625 511.625C119.079 512.739 119.532 513.852 120 515C129.1 511.967 133.001 504.662 138 497C139.98 498.98 141.96 500.96 144 503C142.087 505.586 140.17 508.169 138.25 510.75C137.183 512.189 136.115 513.627 135.016 515.109C132 519 132 519 128 523C121.949 522.614 117.48 521.888 112.25 518.75C108.513 512.521 109.051 508.118 110 501C117.095 487 117.095 487 126 487Z" fill="#20252C" />
								<path d="M120 53C127.522 55.5073 129.736 58.6392 134.07 65.0547C136 69 136 69 136.375 76.375C133.379 84.7318 129.7 86.9041 122 91C114.022 87.9317 106.704 82.1506 102 75C102.664 70.6094 102.664 70.6094 104 67C109.831 69.2909 112.167 71.2127 116.125 76.25C117.404 77.8175 118.683 79.385 120 81C121.98 81 123.96 81 126 81C126.66 79.02 127.32 77.04 128 75C125.965 70.9759 125.965 70.9759 123 67C120.062 62.875 120.062 62.875 118 59C118.66 57.02 119.32 55.04 120 53Z" fill="#21272E" />
								<path d="M358 535C359.98 535 361.96 535 364 535C368.522 543.762 369.772 553.3 368 563C360.592 567.939 356.757 567.938 348 567C343.208 563.326 342.232 560.333 341.211 554.461C340.681 549.974 340.279 545.509 340 541C341.98 541 343.96 541 346 541C347.98 546.94 349.96 552.88 352 559C353.98 559 355.96 559 358 559C358 551.08 358 543.16 358 535Z" fill="#21272E" />
								<path d="M218 539C225.26 539.66 232.52 540.32 240 541C240 542.98 240 544.96 240 547C235.38 546.34 230.76 545.68 226 545C226 546.98 226 548.96 226 551C231.94 551.99 231.94 551.99 238 553C237.34 554.98 236.68 556.96 236 559C231.38 558.34 226.76 557.68 222 557C222 558.98 222 560.96 222 563C226.62 563.66 231.24 564.32 236 565C236 566.98 236 568.96 236 571C220.75 569.25 220.75 569.25 214 567C215.32 557.76 216.64 548.52 218 539Z" fill="#292E35" />
								<path d="M296 289C299.57 289.367 299.57 289.367 304 291C307.492 295.445 307.492 295.445 310.875 301.125C312.071 303.1 313.268 305.075 314.5 307.109C315.655 309.053 316.81 310.997 318 313C319.95 316.13 321.907 319.256 323.875 322.375C325.236 324.561 326.597 326.747 328 329C326.02 330.98 324.04 332.96 322 335C321.354 334.001 320.709 333.003 320.044 331.974C317.113 327.441 314.182 322.908 311.25 318.375C310.234 316.804 309.218 315.232 308.172 313.613C307.192 312.099 306.213 310.584 305.203 309.023C304.302 307.63 303.402 306.237 302.474 304.802C300.338 301.52 298.172 298.258 296 295C296 293.02 296 291.04 296 289Z" fill="#BFC4CA" />
								<path d="M234 6.99992C234 8.97992 234 10.9599 234 12.9999C231.36 12.9999 228.72 12.9999 226 12.9999C227.98 20.9199 229.96 28.8399 232 36.9999C228.7 36.3399 225.4 35.6799 222 34.9999C221.66 33.7237 221.319 32.4476 220.969 31.1327C220.484 29.4801 219.999 27.8276 219.5 26.1249C219.036 24.4775 218.572 22.8301 218.094 21.1327C216.385 16.6 216.385 16.6 211.781 15.4296C209.91 15.2169 209.91 15.2169 208 14.9999C208 13.6799 208 12.3599 208 10.9999C217.007 7.48497 224.353 6.61403 234 6.99992Z" fill="#2B3037" />
								<path d="M244 543C252.323 542.837 259.894 543.035 268 545C268 546.98 268 548.96 268 551C265.36 551.66 262.72 552.32 260 553C259.34 559.6 258.68 566.2 258 573C255.36 573 252.72 573 250 573C249.714 558.143 249.714 558.143 252 551C249.36 550.34 246.72 549.68 244 549C244 547.02 244 545.04 244 543Z" fill="#333840" />
								<path d="M444 489C445.98 489.66 447.96 490.32 450 491C449.34 492.32 448.68 493.64 448 495C446.68 495 445.36 495 444 495C449.133 503.185 449.133 503.185 455.625 510.25C456.409 511.158 457.192 512.065 458 513C457.375 517.375 457.375 517.375 456 521C447.924 518.308 445.054 513.693 440 507C440 505.68 440 504.36 440 503C436.7 504.32 433.4 505.64 430 507C430.482 500.488 433.044 497.545 437.75 493.375C439.812 491.931 441.875 490.487 444 489Z" fill="#252A31" />
								<path d="M156 167C158.297 167.266 160.594 167.531 162.961 167.805C181.292 169.898 199.588 171.764 218 173C218 174.32 218 175.64 218 177C196.938 177.397 176.692 177.626 156 173C156 171.02 156 169.04 156 167Z" fill="#D8DFE6" />
								<path d="M416 167C416 168.32 416 169.64 416 171C395.753 178.802 375.306 177.563 354 177C353.34 175.68 352.68 174.36 352 173C353.341 172.889 354.682 172.779 356.064 172.665C362.168 172.157 368.272 171.641 374.375 171.125C376.485 170.951 378.595 170.777 380.77 170.598C382.813 170.424 384.856 170.25 386.961 170.07C388.836 169.913 390.71 169.756 392.642 169.594C397.998 169.084 397.998 169.084 403.19 167.933C408 167 408 167 416 167Z" fill="#DDE3EA" />
								<path d="M523.375 149.625C525.664 150.306 525.664 150.306 528 151C528.66 154.3 529.32 157.6 530 161C526.5 164.125 526.5 164.125 522 167C517.5 166.375 517.5 166.375 514 165C512.625 160.375 512.625 160.375 512 155C515.373 149.379 516.82 148.863 523.375 149.625Z" fill="#F1F4F9" />
								<path d="M466 477C470.75 477.625 470.75 477.625 476 479C480 485 480 485 479.25 489.375C478.838 490.571 478.425 491.768 478 493C474.625 494.625 474.625 494.625 470 495C464.5 490.125 464.5 490.125 460 485C461.98 482.36 463.96 479.72 466 477Z" fill="#EFF2F7" />
								<path d="M200 13C204 15 204 15 205.703 18.7812C210.83 34.4214 210.83 34.4214 210 43C208.02 43 206.04 43 204 43C202.649 39.8406 201.32 36.6722 200 33.5C199.257 31.7366 198.515 29.9731 197.75 28.1562C196 23 196 23 196 15C197.32 14.34 198.64 13.68 200 13Z" fill="#2C3238" />
								<path d="M430 41C431.98 41.66 433.96 42.32 436 43C433.174 52.655 429.141 60.4325 424 69C421.36 68.34 418.72 67.68 416 67C419.284 57.4478 424.531 49.4123 430 41Z" fill="#232930" />
								<path d="M44 137C47.212 137.904 50.4195 138.824 53.625 139.75C56.305 140.516 56.305 140.516 59.0391 141.297C64 143 64 143 70 147C69.34 149.64 68.68 152.28 68 155C66.6027 154.278 65.2053 153.556 63.7656 152.812C61.9455 151.884 60.1253 150.956 58.25 150C55.5352 148.608 55.5352 148.608 52.7656 147.188C48.2681 144.722 48.2681 144.722 44 145C44 146.32 44 147.64 44 149C42.02 149.66 40.04 150.32 38 151C41.75 141.5 41.75 141.5 44 137Z" fill="#272D34" />
								<path d="M316 549C323.385 550.385 323.385 550.385 326 553C326.082 556.999 326.085 561.001 326 565C322.688 565.764 319.351 566.428 316 567C314 565 314 565 313.75 558C314 551 314 551 316 549Z" fill="#F5F4F8" />
								<path d="M514 125C514.66 127.64 515.32 130.28 516 133C513.519 135.023 511.014 137.018 508.5 139C507.108 140.114 505.716 141.227 504.281 142.375C500 145 500 145 492 145C492 143.02 492 141.04 492 139C495.797 135.352 495.797 135.352 500.75 131.625C502.374 130.38 503.998 129.135 505.672 127.852C510 125 510 125 514 125Z" fill="#292F36" />
								<path d="M152 517C156.875 517.375 156.875 517.375 162 519C164.625 523.125 164.625 523.125 166 527C160.06 526.01 160.06 526.01 154 525C155.32 528.3 156.64 531.6 158 535C155.36 535 152.72 535 150 535C149.34 534.34 148.68 533.68 148 533C149.44 519.56 149.44 519.56 152 517Z" fill="#EEF1F6" />
								<path d="M76 451C78.64 452.32 81.28 453.64 84 455C82.625 459.875 82.625 459.875 80 465C74.75 466.625 74.75 466.625 70 467C68.68 464.36 67.36 461.72 66 459C69.3 456.36 72.6 453.72 76 451Z" fill="#F3F2F6" />
								<path d="M196 531C204.993 530.271 204.993 530.271 209.625 533.625C212 537 212 537 212 543C205.315 541.806 201.071 539.528 196 535C196 533.68 196 532.36 196 531Z" fill="#1D232A" />
								<path d="M324 235C328.014 235.573 332.017 236.237 336 237C334.049 239.339 332.089 241.671 330.125 244C329.034 245.299 327.944 246.599 326.82 247.938C325.89 248.948 324.959 249.959 324 251C323.34 251 322.68 251 322 251C321.915 246.334 321.918 241.666 322 237C322.66 236.34 323.32 235.68 324 235Z" fill="#52565E" />
								<path d="M98 83C100.64 84.98 103.28 86.96 106 89C103.711 89.8044 103.711 89.8044 101.375 90.625C96.1901 92.916 93.8237 94.9942 90 99C88.68 99 87.36 99 86 99C86.6976 92.4891 88.0427 90.9625 93.125 86.5C94.7337 85.345 96.3425 84.19 98 83Z" fill="#EDF1F6" />
								<path d="M222 557C225.96 557 229.92 557 234 557C234.66 559.64 235.32 562.28 236 565C231.38 564.34 226.76 563.68 222 563C222 561.02 222 559.04 222 557Z" fill="#CED7DF" />
								<path d="M102 103C102.66 105.64 103.32 108.28 104 111C100.7 112.32 97.4 113.64 94 115C93.34 113.68 92.68 112.36 92 111C95.2682 107.583 97.7381 105.131 102 103Z" fill="#31373D" />
								<path d="M148 43C149.32 43.66 150.64 44.32 152 45C151.34 47.64 150.68 50.28 150 53C147.36 53 144.72 53 142 53C142.75 49.125 142.75 49.125 144 45C145.32 44.34 146.64 43.68 148 43Z" fill="#E1E6ED" />
								<path d="M276 5C280.95 5.99 280.95 5.99 286 7C286 8.98 286 10.96 286 13C282.7 13 279.4 13 276 13C276 10.36 276 7.72 276 5Z" fill="#D8D8DC" />
								<path d="M282 551C286.95 551.99 286.95 551.99 292 553C291.34 554.98 290.68 556.96 290 559C287.36 559 284.72 559 282 559C282 556.36 282 553.72 282 551Z" fill="#D1D7DD" />
								<path d="M382 533C385.96 533.99 385.96 533.99 390 535C390 536.98 390 538.96 390 541C386.7 541 383.4 541 380 541C380.66 538.36 381.32 535.72 382 533Z" fill="#E7E8ED" />
								<path d="M448 61C450.64 62.32 453.28 63.64 456 65C456 66.98 456 68.96 456 71C453.36 70.34 450.72 69.68 448 69C448 66.36 448 63.72 448 61Z" fill="#E2EEF7" />
								<path d="M406 35C409.875 35.625 409.875 35.625 414 37C414.66 38.98 415.32 40.96 416 43C413.36 43.66 410.72 44.32 408 45C407.34 41.7 406.68 38.4 406 35Z" fill="#DCDCE0" />
								<path d="M100 475C101.98 476.32 103.96 477.64 106 479C106 480.98 106 482.96 106 485C102.7 484.34 99.4 483.68 96 483C97.32 480.36 98.64 477.72 100 475Z" fill="#DEEAF2" />
								<path d="M60 167C60 168.32 60 169.64 60 171C52.5 173.25 52.5 173.25 48 171C48 169.68 48 168.36 48 167C52.9819 164.509 54.8216 165.446 60 167Z" fill="#E1E4E9" />
								<path d="M40 157C41.98 157.66 43.96 158.32 46 159C46 161.64 46 164.28 46 167C43.36 166.34 40.72 165.68 38 165C38.66 162.36 39.32 159.72 40 157Z" fill="#C6CDD4" />
								<defs>
									<linearGradient id="paint0_linear_102_640" x1="285" y1="52.1172" x2="285" y2="519.775" gradientUnits="userSpaceOnUse">
										<stop stop-color="#052767" />
										<stop offset="1" stop-color="#3A0647" />
									</linearGradient>
									<linearGradient id="paint1_linear_102_640" x1="285" y1="327" x2="285" y2="472.671" gradientUnits="userSpaceOnUse">
										<stop stop-color="#052767" />
										<stop offset="1" stop-color="#3A0647" />
									</linearGradient>
									<linearGradient id="paint2_linear_102_640" x1="173.366" y1="235" x2="173.366" y2="360.518" gradientUnits="userSpaceOnUse">
										<stop stop-color="#052767" />
										<stop offset="1" stop-color="#3A0647" />
									</linearGradient>
									<linearGradient id="paint3_linear_102_640" x1="402.861" y1="233.64" x2="402.861" y2="359.266" gradientUnits="userSpaceOnUse">
										<stop stop-color="#052767" />
										<stop offset="1" stop-color="#3A0647" />
									</linearGradient>
									<linearGradient id="paint4_linear_102_640" x1="277" y1="235" x2="277" y2="357.469" gradientUnits="userSpaceOnUse">
										<stop stop-color="#052767" />
										<stop offset="1" stop-color="#3A0647" />
									</linearGradient>
									<linearGradient id="paint5_linear_102_640" x1="285" y1="99.4033" x2="285" y2="193" gradientUnits="userSpaceOnUse">
										<stop stop-color="#052767" />
										<stop offset="1" stop-color="#3A0647" />
									</linearGradient>
								</defs>
							</svg>

						</div>
						<div class="card-title text-center mb-4">
							<small class="card-title text-center">
								Welcome Back!
							</small>
							<h2 class="titleh2 card-title text-center mb-4">
								Sign In to Continue
							</h2>
						</div>
						

						@if (!string.IsNullOrEmpty(_error))
						{
							<div class="alert alert-danger" role="alert">@_error</div>
						}

						<EditForm Model="_loginModel" OnValidSubmit="HandleLogin">
							<DataAnnotationsValidator />
							<ValidationSummary />

							<div class="mb-3">
								<label class="form-label label" for="username">Benutzername</label>
								<div class="input-group">
								<InputText id="username"
										   class="form-control inputBox"
										   placeholder="E‑Mail oder Benutzername"
										   @bind-Value="_loginModel.Username" />
							</div>
							</div>
								<label class="form-label label" for="username">Benutzername</label>
							<div class="input-group mb-3">
    <InputText id="password"
               type="@PasswordInputType"
               class="form-control inputBox"
               placeholder="●●●●●●●●"
               @bind-Value="_loginModel.Password" />

    <button type="button"
            class="btn btn-outline-secondary"
            @onclick="TogglePasswordVisibility"
            tabindex="-1">
        <i class="@ToggleIcon"></i>
    </button>
</div>

							<div class="d-flex justify-content-between align-items-center mb-3">
								<div class="form-check">
									<InputCheckbox id="remember"
												   class="form-check-input"
												   @bind-Value="_loginModel.Remember" />
									<label class="form-check-label text13" for="remember">
										Angemeldet bleiben
									</label>
								</div>
								<a class="small text-decoration-none label" href="/forgot-password">
									Passwort vergessen?
								</a>
							</div>

							<button class="btn btn-primary btnGradient w-100" type="submit">
								<i class="bi bi-door-open me-1"></i> Anmelden
							</button>
						</EditForm>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>

@code {

	private readonly LoginModel _loginModel = new();
	private string? _error;
	private bool _isLoggingIn;
    private bool _showPassword = false;
    private string PasswordInputType => _showPassword ? "text" : "password";
	private string ToggleIcon => _showPassword ? "fa fa-eye-slash" : "fa fa-eye";
    private void TogglePasswordVisibility()
    {
        _showPassword = !_showPassword;
    }
	private async Task HandleLogin()
	{
	    var result = await IdentityProvider.AuthenticateAsync(_loginModel.Username, _loginModel.Password);
	    if (result.Success && result.UserId != null)
	    {
	       Navigation.NavigateTo("/"); // force full reload so Blazor picks up auth cookie
	    }
	    else
	    {
	        _error = "Login fehlgeschlagen. Bitte prüfen Sie Ihre Zugangsdaten.";
	    }
	}

	private async Task HandleLogins()
	{
		try
		{
			var result = await IdentityProvider.AuthenticateAsync(
								_loginModel.Username, _loginModel.Password);

			if (!result.Success || result.UserId is null)
			{
				_error = "Login fehlgeschlagen. Bitte prüfen Sie Ihre Zugangsdaten.";
				return;
			}

			// --- build claims ---------------------------------------------------
			var userInfo = await IdentityProvider.GetUserInfoAsync(result.UserId);
			var claims = new List<Claim>
		{
			new(ClaimTypes.NameIdentifier, userInfo.UserId),
			new(ClaimTypes.Name,           userInfo.Username),
			new(ClaimTypes.Email,          userInfo.Email ?? string.Empty)
		};
			claims.AddRange(userInfo.Roles.Select(r => new Claim(ClaimTypes.Role, r)));

			var claimsIdentity = new ClaimsIdentity(
				claims, CookieAuthenticationDefaults.AuthenticationScheme);

			var authProps = new AuthenticationProperties
				{
					IsPersistent = _loginModel.Remember
				};

			// --- write the auth‑cookie -----------------------------------------
			await HttpContextAccessor.HttpContext!.SignInAsync(
				CookieAuthenticationDefaults.AuthenticationScheme,
				new ClaimsPrincipal(claimsIdentity),
				authProps);

			// --- notify Blazor & redirect --------------------------------------
			if (AuthProvider is DKR.Web.Auth.CookieAuthenticationStateProvider cookieProvider)
				cookieProvider.NotifyAuthStateChanged();

			Navigation.NavigateTo("/", forceLoad: true);   // full reload
		}
		catch (Exception ex)
		{

			// Generic message for the UI
			_error = "Beim Anmelden ist ein unerwarteter Fehler aufgetreten.";
		}
	}

	private async Task HandleLogines()
	{
		_error = null;
		_isLoggingIn = true;
		// THIS StateHasChanged() IS THE MOST LIKELY CULPRIT IF IT'S EXECUTING BEFORE SignInAsync
		// StateHasChanged(); // <--- If this line is uncommented and reached before SignInAsync, it could be the problem.

		if (HttpContextAccessor.HttpContext == null)
		{
			_error = "Server context is not available for login.";
			_isLoggingIn = false;
			StateHasChanged(); // OK here, as it's an early exit/error.
			return;
		}

		try
		{
			// These calls should not be implicitly causing a render or writing to response.
			// If they do, they are fundamentally flawed for this scenario.
			var result = await IdentityProvider.AuthenticateAsync(_loginModel.Username, _loginModel.Password);

			if (result.Success && result.UserId != null)
			{
				var userInfo = await IdentityProvider.GetUserInfoAsync(result.UserId);
				if (HttpContextAccessor.HttpContext.Response.HasStarted)
				{
					Console.Error.WriteLine("CRITICAL ERROR: HTTP Response has already started writing BEFORE SignInAsync!"); _error = "Internal server error: Response already started. Cannot log in."; _isLoggingIn = false; StateHasChanged(); return; // Exit early if headers are already locked }
				}


				var claims = new List<Claim>
		{
			new(ClaimTypes.NameIdentifier, userInfo.UserId),
			new(ClaimTypes.Name,           userInfo.Username),
			new(ClaimTypes.Email,          userInfo.Email ?? string.Empty)
		};
				claims.AddRange(userInfo.Roles.Select(r => new Claim(ClaimTypes.Role, r)));
				// ... claims setup ...
				var claimsIdentity = new ClaimsIdentity(
					claims, CookieAuthenticationDefaults.AuthenticationScheme);

				var authProps = new AuthenticationProperties
					{
						IsPersistent = _loginModel.Remember
					};

				// --- write the auth‑cookie -----------------------------------------
				await HttpContextAccessor.HttpContext!.SignInAsync(
					CookieAuthenticationDefaults.AuthenticationScheme,
					new ClaimsPrincipal(claimsIdentity),
					authProps);


				// Only after SignInAsync completes should you trigger a navigation.
				// This 'forceLoad: true' is key to getting a clean new request.
				Navigation.NavigateTo("/", forceLoad: true);
			}
			else
			{
				_error = "Login fehlgeschlagen. Bitte prüfen Sie Ihre Zugangsdaten.";
				_isLoggingIn = false;
				StateHasChanged(); // OK here, as login failed.
			}
		}

		catch (Exception ex)
		{
			Console.Error.WriteLine($"Login error: {ex.Message}");
			_error = "Ein unerwarteter Fehler ist aufgetreten. Bitte versuchen Sie es später erneut.";
			_isLoggingIn = false;
			StateHasChanged(); // OK here, as login failed.
		}
	}

	private sealed class LoginModel
	{
		public string Username { get; set; } = string.Empty;
		public string Password { get; set; } = string.Empty;
		public bool Remember { get; set; } = true;
	}
}