@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthProvider
@using DKR.Web.Auth
@using System.Web

<CascadingAuthenticationState>
<Router AppAssembly="@typeof(App).Assembly">
<Found Context="route">
<AuthorizeRouteView RouteData="route" DefaultLayout="@typeof(MainLayout)">
</AuthorizeRouteView>
</Found>
<NotFound>
<LayoutView Layout="@typeof(MainLayout)">
<p>Page not found.</p>
</LayoutView>
</NotFound>
</Router>
</CascadingAuthenticationState>

@code {
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender && AuthProvider is InMemoryAuthStateProvider p)
			await p.EnsureInitializedAsync();
	}

}

